* {
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
    font-family: "Rubik", sans-serif;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main {
    max-width: 1400px;
}



/* nav1 */


.nav-1 {
    background-color: #ebf490;
    font-size: 12px;
    color: black;
    text-align: center;
    padding: 10px 0;
}

.nav-1 a {
    color: black;
}

/* Nav 2 */
.nav-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40.4688px;
}

.logo img {
    width: 120px;
}

.link a {
    text-decoration: none;
    font-size: 1rem;
    line-height: 1.5;
}

.login {
    margin: 0 16px 0 0;
}

.acc {
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px 24px;
    margin: 0 0 0 16px;
}

/* Header */

.header {
    display: grid;
    grid-column-gap: 0rem;
    background-color: #f4f4f4;
    /* grid-template-rows: auto; */
    grid-template-columns: 1fr 1fr;
    align-items: center;
    position: relative;
}

.header-img img {
    width: 100%;
    height: 100%;
    max-height: 55rem;
    min-height: 45rem;
    object-fit: cover;
}

.header-content {
    margin: 0 80px 0 61.6px;
    height: 100%;
    max-width: 40rem;
    flex-direction: column;
    justify-content: center;
    display: flex;
    position: relative;
}

.header-content span {
    font-size: 12px;
    background-color: #ebf490;
    padding: 5px 12px;
    width: 10rem;
    border-radius: 100px;
    text-decoration: none;
    display: inline;
    margin: 0 0 16px 0;
}

.header-content h1 {
    /* font-family: outfit; */
    font-size: 56px;
    font-weight: 700px;
    line-height: 1.1;
}

.header-content p {
    font-size: 18px;
    line-height: 1.6;
}

.header-content a {
    text-decoration: none;
    display: inline;
    color: white;
    background: black;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 16px;
    margin: 16px 0 0 0;
    width: 10rem;
}

/* page */

.page-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 40rem;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 160px 40px;
}

.page-cont h2 {
    font-weight: 700;
    line-height: 1.2;
    font-size: 40px;
    margin: 0 0 48px 0;
}

.page-cont h2 span {
    text-decoration: underline;
}

.pg-img img {
    width: 128px;
    max-width: 100%;
    margin: 0 0 48px 0;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 3rem;
    height: 3rem;
    min-height: 3rem;
    min-width: 3rem;
    object-fit: cover;
    border-radius: 100%;
    max-width: 100%;
    margin: 0 16px 0 0;
}

.test {
    font-size: 16px;
    text-align: left;
}

.test .name {
    font-weight: 600;
}

/* step-flex */

.step-contain {
    padding: 0 40px;
}

.step-grid {
    grid-column-gap: 2rem;
    grid-row-gap: 4rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
    padding: 0 0 128px 0;
}

.step-grid h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.2;
    margin-top: 8px;
}

.step-grid p {
    font-size: 18px;
    color: #505050;
    padding: 8px 0;
    /* line-height: 1.5; */
}

.title {
    font-size: 14px;
    background-color: #ebf490;
    padding: 5px 12px;
    width: 72px;
    border-radius: 100px;
    /* line-height: 18px; */
    text-decoration: none;
}

.step1,
.step2,
.step3 {
    padding: 24px;
}

.step1 h2 {
    width: 366.41px;
}

.step2 h2 {
    width: 400px;
}

.step3 h2 {
    width: 330px;
}

.wrap {
    margin-top: 1rem;
}


/* cart */


.cart-contain {
    padding: 0 40px;
    background-color: lightgray;
}

.cart-content {
    padding: 128px 0;
}

.cart-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6rem 0;
}

.cart-head .cla {
    font-size: 18px;
    color: #505050;
    font-weight: 600;
}

.cart-head div p {
    font-size: 12px;
    background-color: #ebf490;
    padding: 5px 12px;
    margin: 0 0 16px 0;
    width: 176px;
    border-radius: 100px;
    line-height: 1.5;
}

.cart-head h2 {
    margin-bottom: 1rem;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.1;
}



/* cart grid */


.log {
    background-color: white;
    padding: 24px;
}

.cart-grid {
    display: grid;
    grid-column-gap: 2.5rem;
    grid-row-gap: 1.5rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: start;
    justify-items: center;
}

.log-text {
    text-align: left;
}

.log-text h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
}

.log-text p {
    font-size: 16px;
    color: #505050;
}


/* sect1 */


.sect1 {
    padding: 160px 0;
    position: relative;
}

.sect1-grid {
    width: 100%;
    grid-column-gap: 2rem;
    grid-row-gap: 4px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    align-items: center;
    display: grid;
    padding: 0 40px;
}

.sect1-grid img {
    max-width: 100%;
    vertical-align: middle;
    border: none;
    display: inline-block;
}

.img1 {
    width: 100%;
    height: 31.25vw;
    object-fit: cover;
    border-radius: 24px;
    overflow: hidden;
}

.img2 {
    width: 100%;
    height: 27.7778vw;
    object-fit: cover;
    border-radius: 24px;
    overflow: hidden;
}

.img3 {
    width: 100%;
    height: 34.7222vw;
    object-fit: cover;
    border-radius: 24px;
    overflow: hidden;
}

.img4 {
    width: 100%;
    height: 27.7778vw;
    object-fit: cover;
    border-radius: 24px;
    overflow: hidden;
}

.sect1-ab {
    /* margin-right: 1vw;x */
    font-size: 4vw;
    font-weight: 700;
    position: absolute;
    font-size: 54.64px;
    margin: 0 13.66px 0 0;
}